.main-menus{
  flex:3;
  justify-content: flex-end;
}

.main-menus li a{
  margin-left: 2rem;
  color:rgb(29, 29, 161) !important;
  transition: all 0.3s ease;
}

.main-menus li a:hover{
  color:rgb(146, 146, 199) !important;
}
.social-icons{
  display: flex;
  flex:1;
  justify-content: flex-end;
}

.social-icons a{
  color: rgb(29, 29, 161);
  margin-left: 1.5rem;
  font-size:1.2rem;
}

.main-submenus .dropdown-item:active,.main-submenus .dropdown-item:hover{
  background:none !important;
}
img[alt="logo-imran"]{
  height:40px;
}

.footer{
  color:rgb(29, 29, 161);
}

